@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  background-color: #191825;
  color: #191825;
  font-family: "Quicksand";
  font-weight: 800;
}

.cardboard {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 6rem;
  column-gap: 6rem;
  margin-top: 3.6rem;
  flex-wrap: wrap;
  width: 100vw;
}

.box {
  background-color: #f7d71e;
  width: 36rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.2rem 2.4rem;
  border: 0.2rem solid #f7d71e;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  cursor: pointer;
}

.clicked {
  background-color: #191825;
  color: #f7d71e;
}
