.button {
  background-color: #f7d71e;
  color: #191825;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0.2rem 0.4rem 0rem 0.4rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.button:active {
  transform: translate(0.4rem, 0.2rem);
  -webkit-transform: translate(0.4rem, 0.2rem);
  -moz-transform: translate(0.4rem, 0.2rem);
  -ms-transform: translate(0.4rem, 0.2rem);
  -o-transform: translate(0.4rem, 0.2rem);
  box-shadow: 0rem 0rem 0rem 0rem;
}
